body {
    background: #f4f4f4;
    font-family: Arial;
}

.container {
    width: 350px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 32%;
    padding: 8px;
}

button {
    padding: 8px 12px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px;
}
